form {
    display: flex;
    flex-direction: column;

    & > * {
        margin: 5px;

        &:first-child {
            margin-top: 0px;
        }
    }

    button {
        max-width: 50px;
    }
}