.item {    
    border-style: hidden;
    border-radius: 15px;
    box-shadow: 2px 3px 2px 0px grey;

    background: linear-gradient(
        158deg,
        rgba(139, 146, 134, 1) 0%, 
        rgba(255, 255, 255, 1) 100%
    );

    padding: 10px;
    
    & > * {
        overflow: hidden;
    }
}

.button-list {
    display: flex;
    flex-direction: row;
}